body {
  background-color: #e9914a;
}

h1 {
  color: black;
  margin-left: 20px;
  font-family: "Papyrus";
}

p {
  font-family: "Comic Sans MS";
}

img {
  border: 10px solid #300;
  width: auto;  
}

figcaption {
  font-family: "Arial";
}

link:hover {
  color: red;
}
